<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.east.demo.persist.mapper.custom.CustomLyEmployeeInfoMapper">
    <cache/>
    <resultMap id="OriginBaseResultMap" extends="com.east.demo.persist.mapper.base.LyEmployeeInfoMapper.BaseResultMap"
               type="com.east.demo.persist.entity.base.LyEmployeeInfo"/>

    <resultMap id="BaseResultMap" type="com.east.demo.model.dto.test.LyEmployeeInfoDTO">
        <id column="EMPLOYEE_ID" javaType="Long" jdbcType="NUMERIC" property="employeeId"/>
        <id column="FIRST_NAME" javaType="String" jdbcType="VARCHAR" property="firstName"/>
        <id column="LAST_NAME" javaType="String" jdbcType="VARCHAR" property="lastName"/>
        <id column="EMAIL" javaType="String" jdbcType="VARCHAR" property="email"/>
        <id column="PHONE_NUMBER" javaType="String" jdbcType="VARCHAR" property="phoneNumber"/>
        <id column="SALARY" javaType="Double" jdbcType="NUMERIC" property="salary"/>
        <id column="JOB_ID" javaType="String" jdbcType="VARCHAR" property="jobId"/>
        <id column="SEX" javaType="com.east.demo.common.enums.SexEnum" jdbcType="CHAR" property="sex"
            typeHandler="com.east.demo.common.handler.SexEnumTypeHandler"/>
    </resultMap>
    <resultMap id="BaseResultMapWithJobInfo" type="com.east.demo.model.dto.test.LyEmployeeInfoDTO"
               extends="BaseResultMap">
        <association property="jobInfo" select="com.east.demo.persist.mapper.LyJobInfoMapper.getByJobId"
                     column="{jobId=JOB_ID}"/>
    </resultMap>

    <sql id="Base_Sql_Id">
        EMPLOYEE_ID
        ,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,SALARY,JOB_ID
    </sql>
    <update id="updateSexByEmployeeId">
        update HR.EMPLOYEES
        set SEX=#{sexId,jdbcType=CHAR}
        where EMPLOYEE_ID = #{employeeId,jdbcType=INTEGER}
    </update>

    <!-- 通过name查询 -->
    <select id="getByName" resultMap="BaseResultMap" flushCache="false">
        SELECT *
        FROM HR.EMPLOYEES
        WHERE FIRST_NAME = #{value}
          and rownum = 1
    </select>
    <select id="getByMap" resultMap="BaseResultMap">
        SELECT *
        FROM HR.EMPLOYEES
        WHERE FIRST_NAME = #{firstName,jdbcType=VARCHAR}
          and LAST_NAME = #{lastName,jdbcType=VARCHAR}
          and rownum = 1
    </select>
    <select id="getByFullName" resultMap="BaseResultMap">
        SELECT *
        FROM HR.EMPLOYEES
        WHERE FIRST_NAME = #{param1,jdbcType=VARCHAR}
          and LAST_NAME = #{param2,jdbcType=VARCHAR}
          and JOB_ID = #{param3,jdbcType=VARCHAR}
          and rownum = 1
    </select>
    <select id="getByFullName2" resultMap="BaseResultMap">
        SELECT *
        FROM HR.EMPLOYEES
        WHERE FIRST_NAME = #{firstName,jdbcType=VARCHAR}
          and LAST_NAME = #{lastName,jdbcType=VARCHAR}
          and JOB_ID = #{jobId,jdbcType=CHAR}
          and rownum = 1
    </select>
    <select id="getInfoWithJobByFirstName" resultMap="BaseResultMapWithJobInfo">
        SELECT *
        FROM HR.EMPLOYEES
        WHERE FIRST_NAME = #{firstName,jdbcType=VARCHAR}
          and rownum = 1
    </select>
    <select id="getBySpecific" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Sql_Id"/>
        FROM HR.EMPLOYEES
        <where>
            1=1
            <if test="firstName!=null and firstName.toString()!=''">
                and FIRST_NAME = #{firstName,jdbcType=VARCHAR}
            </if>
            <if test="lastName!=null and lastName.toString()!=''">
                <bind name="lastName" value="'%'+lastName+'%'"/>
                and LAST_NAME like #{lastName,jdbcType=VARCHAR}
            </if>
            <if test="jobId!=null and jobId.toString()!=''">
                and JOB_ID = #{jobId,jdbcType=VARCHAR}
            </if>
            <if test="jobIdList!=null and jobIdList.size()>=1">
                <foreach collection="jobIdList" item="jobId" open="and JOB_ID in (" close=")" separator=","
                         index="index">
                    #{jobId,jdbcType=VARCHAR}
                </foreach>
            </if>
            and rownum = 1
        </where>
    </select>
</mapper>