<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.east.demo.persist.mapper.LySequenceMapper">
    <select id="selectSequence" resultType="long">
        SELECT HR.EMPLOYEES_SEQ.nextval
        from dual
    </select>
    <select id="selectSequenceByName" resultType="java.lang.Long">
        select ${sequenceName}.nextval
        from dual
    </select>
    <select id="selectSequenceByNameAndSize" resultType="java.lang.Long">
        select ${sequenceName}.nextval
        from dual
        connect by LEVEL <![CDATA[
        <=
        ]]> #{size}
    </select>
</mapper>