<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--    定义配置信息，这里配置只能解析properties类型，离谱-->
    <properties resource="application4mybatisConfig.properties"/>
    <settings>
        <setting name="cacheEnabled" value="true"/>
    </settings>
    <typeHandlers>
        <!--        <typeHandler jdbcType="CHAR" javaType="string" handler="com.east.demo.common.handler.MyStringHandler"/>-->
        <typeHandler handler="com.east.demo.common.handler.SexEnumTypeHandler"/>
        <typeHandler handler="com.east.demo.common.handler.CharTypeHandler"/>
    </typeHandlers>
    <!--    &lt;!&ndash; 定义数据库的信息，默认使用development数据库构建环境 &ndash;&gt;-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="oracle.jdbc.OracleDriver"/>
                <property name="url" value="${spring.datasource.url}"/>
                <property name="username" value="${spring.datasource.username}"/>
                <property name="password" value="${spring.datasource.password}"/>
            </dataSource>
        </environment>
    </environments>
    <!-- 定义映射器 -->
    <mappers>
        <!--   用package必须保证接口名（例如IUserDao）和xml名（IUserDao.xml）相同，还必须在同一个包中
        参考：https://www.cnblogs.com/fengfuwanliu/p/10584857.html-->
        <!--            <package name="mybatis/mapper"/>-->
        <!--        xml不支持通配符-->
        <!--        <mapper resource="mybatis/mapper/*/*.xml"/>-->
        <!--        <mapper resource="mybatis/mapper/*.xml"/>-->
        <mapper resource="mybatis/mapper/custom/CustomLyEmployeeInfoMapper.xml"/>
        <mapper resource="mybatis/mapper/base/LyEmployeeInfoMapper.xml"/>
        <mapper resource="mybatis/mapper/LyJobInfoMapper.xml"/>
        <mapper resource="mybatis/mapper/LySequenceMapper.xml"/>
        <!--        <mapper resource="mybatis/mapper/LyJobInfoMapper.xml"/>-->
        <!--        <mapper class="LyEmployeeInfoMapper"/>-->
    </mappers>
</configuration>
